h1 {
    font-family: 'open-sans', 'source-han-sans-simplified-c', sans-serif;
    color: Maroon;
    font-style: normal;
    font-weight: 700;
    font-variant: small-caps;
}
h2 {
    font-family: 'open-sans', 'source-han-sans-simplified-c', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* color: #e77331; */
    color: RoyalBlue;
}
body {
    font-family: 'open-sans', 'source-han-sans-simplified-c', sans-serif;
    font-weight: 400;
    font-style: normal;
}
a:link, a:visited {
	/* color: #c50; */
    color: SteelBlue;
	text-decoration: none;
	}

a:hover, a:active {
	color: #5c0; 
    /* color: MediumAquaMarine; */
	text-decoration: none;
	}

body{
max-width: 600px;
margin: 0 auto !important;
float: none !important;
}
